<h2>Show note</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @note.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @note.content %>
  </li>

</ul>

<span style="margin-right:8px;"><%= link "Edit", to: note_path(@conn, :edit, @note) %></span>
<span style="margin-right:8px;"><%= link "Back", to: note_path(@conn, :index) %></span>
