

<div style="font-size: 1.2em">

<p> <b><%= @note.title %></b> </p>


<p><%= @note.content %> </p>


</div>




<br><br><br>

<span style="margin-right:8px;"><%= link "Edit", to: note_path(@conn, :edit, @note) %></span>
<span style="margin-right:8px;"><%= link "Back", to: note_path(@conn, :index) %></span>
