<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lookup</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
  <!-- http://stackoverflow.com/questions/33068021/creating-a-search-bar-in-the-permanent-layout-app-html-eex -->




    <div class="container">



      <header class="header">

         <span style="font-size:0.9em"><%= LookupPhoenix.Note.count %> Notes<span>
         <div style="font-size:1.2em;">
            <%= form_for @conn, search_path(@conn, :index), [name: :search], fn f -> %>
              <%= text_input f, :query, placeholder: "Search ...", style: "width:300px; height:30px; background-color:#eee;" %>
             <!-- <%= submit "Search" %> -->
             <%= link "Random", to: search_path(@conn, :random), class: "btn btn-default btn-xs" %>
            <% end %>


            <!-- <span class="pull-right"><a href="/">Home</a><span>  -->

        </div>

      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
