<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>

    li.link1 { font-size: 1.6rem; }

    </style>



    <title>Lookup</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script>

        // define a handler
        function doc_keyUp(e) {

            // this would test for whichever key is 78 and the ctrl key at the same time
            if (e.altKey) {
               switch(e.keyCode ) {
                 case 72: // H
                    document.getElementById('home').click();
                    break;
                 case 74:  // J
                    document.getElementById('notes').click();
                    break;
                 case 75:  // K
                    document.getElementById('tags').click();
                    break;
                 case 77:  // M
                    document.getElementById('tips').click();
                    break;
                 case 85:  // U
                    document.getElementById('users').click();
                    break;
                 case 78: // N
                    document.getElementById('new_note').click();
                    break;
               }
            }
        }
        // register the handler
        document.addEventListener('keyup', doc_keyUp, false);

    </script>


  </head>

  <body>

  <!-- http://stackoverflow.com/questions/33068021/creating-a-search-bar-in-the-permanent-layout-app-html-eex -->

    <div class="container">

      <header id="header">


         <!-- NAVIGATION BAR -->
         <ol class="breadcrumb text-right" style="background-color:#d9d9d9">

           <%= if @current_user do %>
                 <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "Home", to: page_path(@conn, :index), id: 'home' %> </li>
                 <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "Notes", to: note_path(@conn, :index), id: 'notes' %> </li>
                  <!--                  <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "Notes", to: search_path(@conn, :recent, hours_before: 48, mode: "viewed") %> </li>
 -->
                  <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "New", to: note_path(@conn, :new),   class: "", color: "blue", id: "new_note" %></li>
                 <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "Tags", to: user_path(@conn, :tags), id: 'tags' %> </li>
                 <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "Manual", to: page_path(@conn, :tips), id: 'tips' %> </li>

                 <%= if @current_user.admin == true do %>
                    <li style="font-size:1.25em; color:cornflowerblue  ; float:left;"> <%= link "Users", to: user_path(@conn, :index), id: 'users' %> </li>
                 <% end %>


                 <li class="link1"><span style="font-weight:bold; color:black"><%= @current_user.username %></span>: <%= LookupPhoenix.Search.count_for_user(@current_user.id) %> Notes</li>
                 <li class="link1">
                   <%= link "Sign out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
                 </li>
               <% else %>
                 <li class="link1"> <%= link "Sign up", to: user_path(@conn, :new) %> </li>
                 <li class="link1"> <%= link "Sign in", to: session_path(@conn, :new) %> </li>
               <% end %>
         </ol>

         <!-- FLASH MESSAGES -->
         <div style="margin-top:0;; margin-bottom:0">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
         </div>

         <!-- SEARCH BOX AND CHANNEL SELECTOR -->
         <div style="margin-top:-22.5px; margin-bottom:0; width:100%">
             <%= if @conn.assigns[:current_user] != nil do %>

                   <span style="float:left;">
                   <%= form_for @conn, search_path(@conn, :index), [name: :search], fn f -> %>
                       <%= text_input f, :query, placeholder: "Search ...", style: "display:inline-block; margin-top:-18px; margin-bottom:3px; width:190px; height:35px; font-size:1.8rem; background-color:#eee;", id: "search_notes" %>
                   <%= end %>
                   </span>

                  <span style="float:right">
                   <%= form_for @conn, user_path(@conn, :update_channel), [name: :set], fn f -> %>
                            <%= text_input f, :channel, placeholder: "Enter channel ...", value: @conn.assigns.current_user.channel, style: "display:inline-block; margin-top:-18px; margin-bottom:3px; width:190px; height:35px; font-size:1.8rem; color:#222; font-weight:400; background-color:#eee;", id: "search_notes" %>
                   <%= end %>
                   </span>

             <% end %>
         </div>

      </header>

      <!-- MAIN -->
      <!-- role="main" -->
      <main style="clear:left;">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
